.gym_card {
  position: relative;
  display: flex;
  height: 350px;
  width: 100%;
  background-image: linear-gradient(to right, rgb(60, 42, 42), black);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.cardImage {
  width: 600px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: 100%;
  margin-bottom: 0px;
}
.contentMain {
  margin-bottom: 50px;
  margin-left: 10px;
}
.contentMain > h2,
h4,
p {
  margin: 0px;
  color: white;
}
.contentSubMain {
  display: flex;
  flex-direction: row;
}

.cardBtn {
  width: 100px;
  height: 50px;
  background-color: rgb(107, 10, 10);
  color: white;
  margin-left: 320px;
  border: none;
  margin-top: 10px;
}
